
.back-gracias {
	background:rgba(0, 0, 0, 0.8);
	height:100vh;
	overflow:hidden;
}

.back-gracias h4 {
    margin: auto 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 35px;
    text-align:center;
}

.absolute-element-01 {
	position:absolute;
	bottom:-5%;
	left:-5%;
	max-width: 250px;
	width:100%;
}

.absolute-element-home-01 {
    position: absolute;
    bottom: -12%;
    left: -10%;
    max-width: 215px;
    width: 100%;
}

.absolute-element-02 {
	position:absolute;
	top:0;
	right:0;
	max-width: 120px;
    width: 100%;
}

.header-home {min-height: 600px;display: flex;align-items: center;position: relative;}


@media screen and (max-width:767px) {

}