html {
  scroll-behavior: smooth;
}

html, body {margin:0;padding:0;}

body{ font-family: 'Raleway', sans-serif;}

@font-face{
  font-family:'Montserrat-ExtraBold';
  src:url('../fonts/Montserrat-ExtraBold.otf') format('opentype');
}
@font-face{
  font-family:'Montserrat-SemiBold';
  src:url('../fonts/Montserrat-SemiBold.otf') format('opentype');
}
@font-face{  
  font-family:'Montserrat-Light';
  src:url('../fonts/Montserrat-Light.otf') format('opentype');
}
@font-face{  
  font-family:'Montserrat-Regular';
  src:url('../fonts/Montserrat-Regular.otf') format('opentype');
}
@font-face{  
  font-family:'Montserrat-Bold';
  src:url('../fonts/Montserrat-Bold.otf') format('opentype');
}
@font-face{  
  font-family:'Montserrat-UltraLight';
  src:url('../fonts/Montserrat-UltraLight.otf') format('opentype');
}
@font-face{
  font-family:'GothamRounded-Medium';
  src:url('../fonts/GothamRounded-Medium.otf') format('opentype');
}
@font-face{  
  font-family:'GothamRounded-Bold';
  src:url('../fonts/GothamRounded-Bold.otf') format('opentype');
}
@font-face{  
  font-family:'GothamRounded-Book';
  src:url('../fonts/GothamRounded-Book.otf') format('opentype');
}

header {position:relative;padding:0 0 45px;}
.nav-logins {background: rgb(76,191,140);background: -moz-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);background: -webkit-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);background: linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);padding: 15px 15px 17px;margin-bottom: 30px;}
/*header::before {content:'';height:11px;width:100%;background: rgb(76,191,140);
background: -moz-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cbf8c",endColorstr="#0081c6",GradientType=1);
position:absolute;top:0;left:0;right:0;}*/

.text-rg-btns {text-align:right;}
.text-left-logo {text-align:left;margin:0 50px;}
.btn-log {font-family: 'Montserrat-SemiBold';color: #fff;background: #00b497;display: inline-block;margin: 0 10px;padding: 10px 50px;border-radius: 20px;font-size: 10px;border:2px transparent solid;transition:.6s;}
.btn-log:hover {text-decoration:none;border:2px #00b497 solid;transition:.6s;background:#fff !important;color:#00b497 !important;}
.btn-log-02:hover {cursor:pointer;text-decoration:none;border:2px #0090cf solid;transition:.6s;background:#fff;color:#0090cf;}
.btn-log-02 {font-family: 'Montserrat-SemiBold';color: #fff;background: #0090cf;display: inline-block;margin: 0 10px;padding: 10px 50px;border-radius: 20px;font-size: 10px;border:2px transparent solid;transition:.6s;}

.header-home {background-size: cover !important;background-position: center !important;position:relative;min-height:600px;}
.header-home p {font-family: 'Montserrat-SemiBold';color: #fff;font-size: 25px;line-height: normal;}
.header-home h3 {font-family: 'Montserrat-ExtraBold';color: #fff;font-size: 58px;line-height: 1;margin:0 0 25px;}
.back-phone-home {position:absolute;top:0;bottom:0;right:0;min-height: 630px;background-repeat: no-repeat !important;background-size: 65% !important;margin-top: -4%;background-position: bottom left !important;}

.btn-log-home {font-family: 'Montserrat-SemiBold';color: #00b497;background: #fff;display: inline-block;margin: 0;padding: 10px 40px;border-radius: 20px;font-size: 13px;border:2px #00b497 solid;transition:.6s;}
.btn-log-home:hover {text-decoration:none;border:2px #00b497 solid;transition:.6s;background:#00b497;color:#fff;}
.btn-log-home-02:hover {text-decoration:none;border:2px #0090cf solid;transition:.6s;background:#0090cf;color:#fff;}
.btn-log-home-02 {font-family: 'Montserrat-SemiBold';color: #0090cf;background: #fff;display: inline-block;margin: 0 10px;padding: 10px 40px;border-radius: 20px;font-size: 13px;border:2px #0090cf solid;transition:.6s;}

.info-home {padding:80px 0;}
.info-home h3 {font-family:'Montserrat-SemiBold';color:#00c781;margin:0 0 15px;font-size:24px;}
.info-home p {font-family:'Montserrat-Light';color:#81848f;margin:0 0 30px;font-size:14px;}
.info-home a {font-family:'Montserrat-Regular';color:#00c781;transition:.6s;}
.info-home a:hover {text-decoration:none;transition:.6s;color:#2081c1;}

.info-home .enlace-02 {color:#2081c1;}
.info-home .enlace-02:hover {color:#00c781;}

.tx-icon-r {text-align:right;}
.tx-icon-r img {margin-top:10px;}

.header-negocio {min-height: 100vh;background-repeat: no-repeat !important;background-size: cover !important;background-position: top center !important;}
.mg-auto-header {margin-bottom: auto;margin-top:14%;}
.header-negocio h3 {font-family: 'Montserrat-ExtraBold';font-size: 4em;line-height: 1;color:#81848f;display:inline-block;}
.header-negocio h3 strong {color:#2081c1;font-weight:normal;}
.header-negocio p {font-family: 'Montserrat-SemiBold';font-size: 18px;color:#00b39a;}
.btn-consulta {font-family: 'Montserrat-SemiBold';color: #2081c1;background: transparent;display: inline-block;margin: 25px 0 0;padding: 10px 40px;border-radius: 20px;font-size: 12px;border: 2px #2081c1 solid;transition: .6s;}
.btn-consulta:hover {transition:.6s;background:#2081c1;color:#fff;text-decoration:none;}

.txt-bx-negocio-r {text-align:right;}

.negocio-box-01 {background:url('../img/trama.png');background-repeat: no-repeat;min-height: 75vh;position:relative;padding:50px 0;}
.negocio-box-01 p {font-family: 'Montserrat-Light';color: #858893;font-size: 27px;line-height: normal;margin: 0 0 15px;}
.negocio-box-01 p strong {font-weight:normal;color:#2081c1;font-family:'Montserrat-Regular';}

.phone-element-01 {position:absolute;right:0;bottom:0;max-width:30%;}

.negocio-box-02 {background:#edebef;padding:100px 0;}
.negocio-box-02 h3 {font-family:'Montserrat-SemiBold';color:#00bd97;font-size:29px;max-width:70%;}
.negocio-box-02 p {font-family:'Montserrat-Light';color:#00bd97;margin:0;font-size:15px;max-width:75%;}

.negocio-box-03 {background:url('../img/negocio_box_03.jpg');background-size:cover;background-position:center;min-height:75vh;}

.negocio-box-04 {background:url('../img/trama.png');padding:150px 0;background-color:#f3f2f4;background-repeat:no-repeat;}
.negocio-box-04 h3 {font-family: 'GothamRounded-Bold';color: #0073b8;font-size: 36px;}
.negocio-box-04 .text-circle-01 {margin:30px 20px;background: rgb(76,191,140);background: -moz-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);background: -webkit-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);background: linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cbf8c",endColorstr="#0081c6",GradientType=1);width:200px;height:200px;border-radius:100%;}
.negocio-box-04 .text-circle-01 p {padding:0 30px;margin:0;text-align: center;font-size: 18px;color: #fff;font-family: 'GothamRounded-Medium';line-height: normal;}
.negocio-box-04 p {margin: 10px 0 50px;color: #00bd95;font-family: 'GothamRounded-Medium';font-size: 19px;}


.contacto {padding:100px 0;background:#0073b8;}
.contacto h3 {color: #fff;font-family: 'GothamRounded-Bold';font-size: 31px;margin: 0 0 25px;}
.contacto .form-contacto input, .contacto .form-contacto textarea {width:100%;border:none;background:#fff;border-radius:0;margin:0 0 10px;padding:10px 15px;}
.contacto .form-contacto input:focus, .contacto .form-contacto textarea:focus {outline:none;} 
.contacto .form-contacto textarea {min-height:135px;}
.contacto .form-contacto input[type="submit"]{background: rgb(76,191,140);
background: -moz-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cbf8c",endColorstr="#0081c6",GradientType=1);
font-family:'Montserrat-Bold';
color:#fff;
text-transform:uppercase;}

.contacto p {font-family:'GothamRounded-Book';color:#f3f2f4;margin: 35px 0 0;font-size: 14px;line-height: normal;}
.contacto h4 {font-family:'GothamRounded-Bold';color:#fff;margin: 30px 0 0;text-align: center;font-size: 24px;}
.contacto a:hover {transition:.6s;opacity:.5;}
.contacto a {color:#fff;text-decoration:none;transition:.6s;}
.contacto h5 {font-family:'GothamRounded-Bold';color:#fff;margin: 0 0 0;text-align: center;font-size: 22px;}
.contacto .cust p {margin:0;text-align:center;}
.contacto .cust p a {color:#fff;transition:.6s;}
.contacto .cust p a:hover {text-decoration:none;opacity:.5;transition:.6s;}


footer {background: rgb(76,191,140);
background: -moz-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
background: linear-gradient(90deg, rgba(76,191,140,1) 0%, rgba(0,129,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cbf8c",endColorstr="#0081c6",GradientType=1);padding:25px 0;}

.compra-box-01 h4 {font-family: 'Montserrat-UltraLight';font-size: 19em;line-height: 0.8;margin: 0;color: #04b6a5;}
.compra-box-01 h5 {font-family: 'Montserrat-Light';color: #04b6a5;margin: 0;font-size: 21px;}

.content-text-right {margin-bottom:15px;}
.content-text-right img {max-width:60px;}
.content-text-right p {padding: 0px 10px;margin: 0;font-size: 18px;max-width: 70%;color: #0073b8;font-family: 'Montserrat-Regular';line-height: 1;}

.compra-box-01 {background:url('../img/triangle_back.png');background-repeat:no-repeat;background-position:right;min-height:85vh;padding:65px 0 0;background-size:contain;}
.compra-box-01 .mg-auto-bottom {margin-bottom:auto;}

.gracias {height:80vh;background: url(../img/trama.png);background-repeat: no-repeat;position: relative;background-size: 20%;background-position: bottom left;}
.gracias p {color: #0073b8;font-size: 25px;margin: 0;font-weight: normal;font-family: 'GothamRounded-Medium';}

.disable {pointer-events:none;opacity:.6;}
.visible-xs-negocio {display:none;}

.hidden-xs {display:block;}
.visible-xs {display:none;}

.icons {margin:0 auto;}
.card-icon-01 {margin:0 15px 0;max-width: 100%;width: auto;display: inline-flex;align-items: center;justify-content: center;padding: 10px 10px;background: #fff;box-shadow: -1px 3px 2px rgba(0, 0, 0, 0.11);border-radius: 10px;}
.card-icon-01 img {max-width:25px;}
.card-icon-01 h3 {margin: 0 10px 0;font-size: 18px;color: #00BD81;font-weight: 700;}
.descr-icon p {margin: 0;font-size: 20px;font-family: 'GothamRounded-Medium';color: #A7A6AB;position:relative;}
.descr-icon p::after {content:'';position:absolute;bottom: -10px;left: 0;right: 0;width: 80%;height: 8px;background: #00BD81;}

.car-02 .descr-icon p::after {background:#FFB300;}
.car-03 .descr-icon p::after {background:#D4854F;}

.card-texts {margin: 0 15px;max-width: 100%;width: 300px;display: inline-flex;align-items: center;justify-content: center;padding: 0;background: #fff;box-shadow: -1px 3px 2px rgba(0, 0, 0, 0.11);border-radius: 10px;}
.card-texts .text-card-01 {width:100%;background: #00DAE5;padding:5px 9px;display: inline-block;border-radius: 10px 0px 0 10px;}
.card-texts .text-card-01 p {font-size: 10px;margin: 0;color: #fff;font-weight: 700;line-height:1;}
.card-texts .text-card-01 p b {font-size: 13px;font-weight: 800;}
.card-texts .text-card-02 {text-align: center;display: inline-block;width: 100%;} 
.card-texts .text-card-02 h3 {font-size: 12px;margin: 5px 0 0;color: #A7A6AB;font-weight: 700;} 
.card-texts .text-card-02 p {line-height:1;margin: 0;color: #00D5E5;font-weight: normal;font-size: 17px;font-family: 'GothamRounded-Bold';}
.card-texts .text-card-02 p::after {content: '';position: absolute;bottom: -2px;left: 10px;right: 0;background: #00D5E5;width: 80%;height: 5px;}
.card-texts .text-card-03 {text-align: center;display: inline-block;width: 100%;} 
.card-texts .text-card-03 h3 {font-size: 12px;margin: 5px 0 0;color: #A7A6AB;font-weight: 700;} 
.card-texts .text-card-03 p {line-height:1;margin: 0;color: #00D5E5;font-weight: normal;font-size: 17px;font-family: 'GothamRounded-Bold';} 
.card-texts .text-card-03 p::after {content: '';position: absolute;bottom: -2px;left: 10px;right: 0;background: #486FD4;width: 80%;height: 5px;}

.logos {margin-top:35px;padding:100px 0;background: url(../img/trama.png);background-repeat: no-repeat;position:relative;background-size: 20%;background-position: bottom left;}
.logos h3 {font-family: 'GothamRounded-Medium';color: #0073b8;font-size: 25px;margin:0 0 50px;}
.logos .imagen-logo {display:inline-block;min-height: 70px;width: 100%;background-size: contain !important;background-repeat: no-repeat !important;background-position: center !important;margin-bottom:30px;}

.absoulte-sombra {position:absolute;left:0;right:0;top:0;}

.nav-registros {z-index:9;position: absolute;top: 65px;right: 30px;background: #fff;padding: 10px 15px;box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.12);}
.nav-registros a {display:block;margin:5px 0;color:#2081c1;transition:.6s;font-family: 'GothamRounded-Medium';font-size:14px;}
.nav-registros a:hover {color:#00c781;transition:.6s;outline:none;text-decoration:none;}

.pie-agencia {text-align: right;padding: 10px 30px 13px;background: #eaeaea;}
.pie-agencia p {text-align: right;display: inline-block;margin: 0 5px;color: #111244;font-size: 14px;font-family: 'GothamRounded-Book';}
.pie-agencia a {color: #111244;font-weight: bold;transition:.6s;font-size: 15px;font-family: 'GothamRounded-Book';}
.pie-agencia a:hover {text-decoration:none;transition:.6s;opacity:.5;}

.presskit {padding:100px 0;background-color:#F3F2F4;background-image:url('../img/presskit/trama-02.png');background-repeat: no-repeat;background-position: center right;background-size: contain;}
.presskit h3 {font-family: 'Montserrat-SemiBold';color: #0073b8;font-size: 40px;}
.presskit p {font-family:'GothamRounded-Book';color: #0073b8;margin: 0 0 20px;font-size: 25px;}
.presskit a {transition:.6s;font-family: 'Montserrat-Bold';text-transform: uppercase;font-weight: normal;background:transparent;color: #0073b8;border-color: #0073b8;border-width: 1px;padding: 2px 20px;display: inline-block;font-size: 16px;border-radius: 15px;}
.presskit a:hover {background:#0073b8;transition:.6s;}

.cajas-presskit {padding:140px 0;}
.cajas-presskit h5 {font-family: 'GothamRounded-Book';font-size: 14px;margin: 10px 0 25px;color: #8E8E8D;}
.cajas-presskit h3 {font-family: 'Montserrat-SemiBold';color: #0073b8;font-size: 36px;font-weight: normal;margin: 0 0 40px;}
.cajas-presskit .descargar {transition: .6s;font-family: 'Montserrat-SemiBold';text-transform: uppercase;font-weight: normal;background: transparent;color: #0073b8;border: 1px #0073b8 solid;padding: 4px 20px 2px;display: inline-block;font-size: 16px;border-radius: 15px;line-height: 1.5;}
.cajas-presskit .descargar:hover {background:#0073b8;transition:.6s;text-decoration:none;color:#fff;}

.cajas-presskit .title {background: #F3F2F4;padding: 20px 30px;margin-bottom: 15px;}
.cajas-presskit .title h2 {color:#000;margin: 0;font-size: 20px;font-family: 'GothamRounded-Medium';}

.cajas-presskit p {color: #000;font-family: 'GothamRounded-Book';font-size: 20px;margin: 0;}

.owl-nav {display:none;}
.owl-dots {text-align:center;}
.owl-dots span {background: #0073b8;width: 15px;height: 15px;display: inline-block;border-radius: 100%;}
.owl-dots .owl-dot.active span {background:#00c781;}
.owl-dots .owl-dot {display:inline-block;margin:0 5px;}

#map_canvas{height:500px; width:100%;}
.buscador{width:350px; position:absolute; top:90px; left:20px; background:rgba(0,0,0,0.5); padding:8px; border-radius:3px; z-index:999; -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */ transition: 0.4s;}
.buscador.fixed {
    position: fixed;
    top: 80px;
    left: 0;
  -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
  transition: 0.4s;
}

.list-concesionario-title{background:#f1f1f1; padding:15px 25px; border-bottom:1px solid #ccc; margin-top:50px;}
.list-concesionario-title h3{margin:0;}
.list-concesionario{margin:10px 0 20px 0; padding:30px 2%;}
.list-concesionario p{margin-bottom:0;}
/*.list-concesionario:nth-child(3n+1){clear:both;}*/
.list-concesionario .marca{text-align:center; width:10%; float:left; padding-top:37px; font-size:14px; font-weight:bold; color:#000; background:url(../img/marker_01.png) no-repeat top center;}
.list-concesionario .data{width:85%; float:right; color:#000; font-size:14px;}
.list-concesionario .data h5{font-family:'GothamRounded-Medium'; font-size:21px; color:#000; margin-bottom:5px;}
.list-concesionario .data .localidad{font-size:16px; color:#666;}
.list-concesionario .data .gerente{margin-top:15px;}
.list-concesionario .data .mailgerente{color:#0b13ac;}
.list-concesionario.active{background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top, #f9f9f9 0%, #f2f2f2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9f9f9 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9f9f9 0%,#f2f2f2 100%);
border:1px solid #ccc;
}

.buscador select{
  border: 1px solid #e3e3e3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 14px 10px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #252525;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  font-weight: 700;
  min-width: 240px;
  max-width: 100%;
}

@media (max-width: 1280px) {
  
}

@media (max-width: 767px) {
  .cajas-presskit {padding:50px 0;}
  .presskit {background-image:none;}
  .presskit p {font-size:16px}
  .cajas-presskit .row {margin:0 !important;}
  .cajas-presskit h3 {font-size:29px;margin:0 0 15px;}
  .cajas-presskit p {font-size:16px;}
  .cajas-presskit .col-12 {padding:0 30px !important}
  .cajas-presskit .descargar {margin-bottom:15px;}
  .logos {background-size: 50%;background-position: 0% bottom;border-top: 5px #0282c2 solid;}
  .logos .imagen-logo {min-height: 60px;width: 55%;display:inline-block;}
  .btn-log, .btn-log-02 {font-size:9px;padding:10px 20px;text-align:center;}
  .nav-logins {justify-content:center !important;margin-bottom:15px;}
  .text-left-logo {margin:0 20px 10px;}
  .card-icon-01, .card-texts {margin:0 auto 10px 0px;}
  .compra-box-01 {background-position:top right;}
  .visible-xs {display:block;}
  .hidden-xs {display:none;}
  .content-number {display:flex;align-items:center;margin-top: 40px;margin-bottom: 50px !important;}
  .content-text-right {justify-content: flex-start !important;padding: 0 30px;}
  .header-negocio.header-compra {background:url('../img/header_compra_responsive.jpg') !important;background-repeat: no-repeat !important;background-size: cover !important;background-position: top center !important;}
  .mg-auto-header {margin-top:0%;}
  .negocio-box-04 {background-position: bottom left;background-size: 55%;}
  .comillas {color: #fff;font-family: 'Montserrat-Regular';font-size: 17em;position: absolute;top: 13px;line-height: 0.3;left: 20px;}
  .comillas-02 {color: #fff;font-family: 'Montserrat-Regular';font-size: 17em;position: absolute;bottom: -40px;line-height: 0;}
  .negocio-box-03 p {color: #fff;font-family: 'Montserrat-Regular';font-size: 18px;padding: 10% 30px;margin: 0;height: 100%;}
  .visible-xs-negocio {display: flex;align-items: center;min-height:50vh !important;}
  .negocio-box-03 {min-height:40vh;}
  .negocio-box-03 img {display:none;}
  .negocio-box-02 h3 , .negocio-box-02 p {max-width:100%;}
  .negocio-box-02 p {margin:0 0 15px;}
  .negocio-box-02 {padding:50px 25px;}
  .negocio-box-01 {background:url('../img/trama_responsive.png');background-size: 85%;background-position: bottom right;padding: 35px 0 350px;background-repeat:no-repeat;}
  .phone-element-01 {right:25%;max-width:60%}
  .header-negocio {background:url(../img/header_negocio_responsive.jpg) !important;background-repeat: no-repeat !important;background-size: cover !important;background-position: top center !important;}
  .header-negocio p {font-size:14px;}
  .header-negocio h3 {font-size:3em;}
  .nav-item {text-align:center;margin:10px 0;}
  .info-home h3 {text-align:center;margin:0 0 10px;}
  .info-home p {text-align:center;margin:0 0 20px;}
  .info-home a {display:block;margin:0 auto 40px;text-align:center;}
  .tx-icon-r {text-align:center;}
  .tx-icon-r img {margin:0 0 10px;}
  .back-phone-home {position:relative;min-height: 430px;background-repeat: no-repeat !important;background-size: 65% !important;margin-top: 0;background-position: bottom center !important;}
  .btn-log-home-02 {margin:15px 0;}
  .header-home p {margin:25px 0 0;}
  .header-home h3 {font-size:45px;margin:15px 0 25px;}
  header {padding:0 0 15px;position:relative !important;}
  .text-left-logo img {max-width:110px;}
  .navbar-toggler img {max-width:35px;}
}