a:active,
a:hover {
  outline: 0;
}

.container,.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .navbar-nav{float:none;}
  
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#menu{height:auto !important; min-height:auto !important; width:100%;}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-top:0px !important;
}
.caret.right {
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;
  padding: 0; 
  margin: 0px 0 0;
  display: none;
  list-style: none;
  font-size: 12px;  
  letter-spacing:0px;  
  font-weight:400;
  background-color: #fff !important;
  color:#5e6262;
  border-radius: 0;
  background-clip: padding-box;  
  min-width:100%;
  border:0;
}
.dropdown-menu .dropdown-menu {    
  min-width: 160px;
  padding: 0;
  display: none;
  margin: 2px 0 0 40px;
  list-style: none;
  font-size: 14px;
  opacity: 0;
  background-color: #074a5e;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;  
}
  .navbar-header {
    width:100%;
	margin:0 !important;
	padding-top:30px;
  }
@media (min-width: 768px) {
  .dropdown-menu {    
    top: 200%;
    left: 0;    
    visibility: hidden;
    float: left;
    display: block;
	width:auto;   
    opacity: 0;
	min-width:100%;
	border:0;
  }
  .dropdown-menu .cat{color:#00cfc7; font-size:14px; letter-spacing:2px; margin-bottom:4px;}
  .dropdown-menu a.mcat:hover{text-decoration:none;}
  .dropdown-menu  hr{border-top: 1px solid #00cfc7;}
  .dropdown-menu .dropdown-menu {    
    top: -3px;
    left: 120%;
    display: block;
    float: left;
    z-index: 1000;
    margin: 2px 0 0;
    visibility: hidden;
    opacity: 0;
	background:#0e6e8c;
  }
  .dropdown-menu .dropdown-menu:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #0e6e8c transparent transparent;
  }
  .dropdown:hover > .dropdown-menu {
    opacity: 1 ;
    top: 100% ;    
    visibility: visible ;
  }
  .dropdown-menu .dropdown:hover > .dropdown-menu {
    opacity: 1;  
    top: -3px;
    left: 100%;
    padding: 5px 0;
    visibility: visible;
  }
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }  
  .navbar-right .dropdown-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  } 
  .navbar {
    border-radius: 4px;
  }
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .navbar-toggle {
    display: none;
  }
  .navbar-nav {
    margin: 0;
	width:100%;
	text-align:center;
  }
  .navbar-nav > li {
    float: none;
	display:inline-block;
	border-bottom:3px solid #fff;
	
  }
  .navbar-nav > li:hover, .navbar-nav > li.active {
		border-bottom:3px solid #dc4968;
		color:#dc4968;
		-webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
		transition: 0.4s;
  }
  .navbar-nav > li:hover a, .navbar-nav > li.active a{color:#dc4968; -webkit-transition: 0.4s; /* For Safari 3.1 to 6.0 */
		transition: 0.4s;}
  .navbar-nav > li > a {
	width:100%;
	
	
  }
  .navbar-nav > li > a .lab{
	display:inline;
	vertical-align:middle;
	text-align:left;
	margin-left:5%;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
	padding-top: 10px;
  }
  .navbar-right {
    float: right !important;
	margin:10px;
  }
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0e6e8c;
}
.dropdown-menu > li {
  position: relative;
}
.dropdown-menu > a:hover{
	color:#5e6262;
}
.dropdown-menu > a {
  color:#5e6262;

}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {      
  background: rgba(0,0,0,0.2);
  color: #fff;
}
.open > .dropdown-menu {  
  display: block;
  opacity: 1;
}
.navbar {
  width:60%;
  float:left;
  margin-bottom:0;
  border:0;
}
.navbar-collapse {
  overflow-x: visible;
  padding-right: 0;
  padding-left: 0;
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  min-height:100% !important;
  overflow-y: auto;
}

.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
	margin-left:0 !important;
	margin-right:0 !important;
	padding:0 !important;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
  color:#fff;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
.navbar-toggle {
    position: absolute;
    right: 4px;
    padding: 9px 10px;
    top: 25px;
    margin-bottom: 8px;
    background: none;
    background-image: none;
    border: 0;
    border-radius: 4px;
    z-index: 999;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-nav {
  margin-bottom:0;
  list-style: none;
  padding-left: 0;
}
.navbar-nav > li {
  position: relative;
  /*width:14.25%;*/
  margin:0;
  padding:0;
  color:#000;
  border-bottom:1px solid #fff;
}
.dropdown-menu  a:hover{text-decoration:none;}
.dropdown-menu  li {
	margin:0;
	color:#5e6262;
	padding:15px 20px;
	border-bottom:1px solid #ccc;
}
.dropdown-menu  li:hover {background:#f5f5f5;}
.navbar-nav > li > a {
  text-decoration:none !important;
  padding:14px 18px;
  display:block;
  color:#000;
  text-shadow:none;
  font-size:11px;
  letter-spacing:0px;
}
.navbar-nav > li > a {
	font-size:12px;
	letter-spacing:0px;
	padding:14px 14px;
}

@media (min-width: 1440px) {
	.navbar-nav > li > a {
		font-size:14px;
		letter-spacing:1px;
		padding:14px 22px;
	}
	.navbar-nav > li {width:13%;}
	.navbar-nav > li.bt-fix {width:18%;}
}
@media (max-width: 960px) {
	
	.navbar-nav > li > a {
		font-size:11px;
		letter-spacing:0px;
		padding:14px 8px;
	}
}
@media (max-width: 768px) {
  .dropdown-menu li {
		margin: 0;
		color: #5e6262;
		padding: 10px 20px;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
  .navbar-nav {
	  margin:0;
	  list-style: none;
	  padding-left: 0;
	}
  .navbar-right {
    display:none;
  }
  
  .navbar-nav > li:before{
	background:none;
  }
  .navbar-nav > li >a{
	padding-left:15px;
	padding-top:14px;
	display:block;
	box-sizing:border-box;
	text-align:center;
	font-weight:bold;
  }
  .navbar-nav > li div{
	text-align:center;
  }
  .navbar-collapse{
	margin-top:110px !important;
	background:#f1f1f1;
  }
  .navbar-collapse.in {
	padding:0;
	background:#f1f1f1;
	margin:0  !important;
	margin-top:110px !important;
	width:100%;
  }
  .navbar-nav > li > a {
	color:#000;
  }
  
  .navbar-nav  .dropdown-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;    
    border: 0;
    box-shadow: none;
	display:block !important;
  }
  
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a{
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  width:260px;
  max-height:350px;
  overflow-y:auto;
}
@media (max-width: 768px) {
	.navbar-nav > li > .dropdown-menu {
	  max-height:100% !important;
	}
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-nav > li:hover:after,
.navbar .navbar-nav > li:focus :after,
.navbar .navbar-nav > li.active:after
{
  content:"";
  background:url(images/bt_hover_bg.png) no-repeat bottom center;
  background-size:content;
  width:10px;
  height:10px;
  position:absolute;
  bottom:2px;
  left:50%;
  margin-left:-5px;
}
.navbar .navbar-nav > .active > a:after,
.navbar .navbar-nav > .active > a:hover:after,
.navbar .navbar-nav > .active > a:focus:after{
 
}
.navbar .navbar-toggle {
  border-color: #fff;  
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background:rgba(255,255,255,0.3);
}
.navbar .navbar-toggle .icon-bar {
  background-color: #000;
}
